<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta data -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="Secret NE">
    <meta property="og:url" content="https://willcooper.uk/">
    <meta property="og:description" content="WDC">
    <meta property="og:image" content="https://willcooper.uk/img/wdc-social.jpg">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="Will Cooper - Frontend developer and writer">
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="675"/>
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/wdc.css"/>
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/style.css"/> -->
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
  </head>
  <body>
    {% include "./partials/navbar.html" %}

    <main id="content" class="main-style">
      {{ content | safe }}
    </main>
    
    {% include "./partials/footer.html" %}

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/js/jquery-341.js"></script>

    <script src="/static/js/alpine.js"></script>
   
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <!-- GSAP -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/gsap.min.js"></script> -->
  </body>
</html>