<header>
  <a class="skip-link visually-hidden-focusable" href="#content">Skip to main content</a>
  <div class="container" id="nav-head" name="nav-head">
    <div class="nav-row mt-0">
      <nav class="navbar-fixed-top pl-0 pr-0 mr-0 navbar nav-color navbar-expand-md navbar-dark bd-navbar">
        <div class="d-flex flex-grow-1">
          <span class="nav-title navbar-brand">
            <a href="/" class="brand-text">{{settings.name}}</a> 
          </span>
          <div class="w-100 text-end">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation menu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>
        <div class="nav justify-content-end collapse navbar-collapse flex-grow-1 text-right" id="navbarNav">
          <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item text-end">
              <a class="hover-underline-animation nav-link" href="#about-us">About</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>